h1{
    font-family: "Pacifico", cursive;
    font-size: 50px;
    color: #352e28;
    line-height: 60px;
   
}
body{
    background-color:#F7ECDE ;
}
h1::after{
    content: '';
    position: absolute;
    width: 20%;
    height: 8px;
    background-color:#FEC260;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
}
p{
    border-bottom: black dashed .5px;
    padding-top: 40px;
    
}
.icon1{
    color: #3EA55B;
}
.icon2{
    color: #B2AC49;
}
h2{
    color: #6FA854;
}
